.progress-bar {
    height: 10px;
    background: #4caf50;
    width: 0%;
}

.progress-container {
    width: 96%;
    bottom: 0;
    position: fixed;
    height: 10px;
    background: #ccc;
}